@font-face {
    font-family: 'opendyslexic';
      src: url('https://blogs.glowscotland.org.uk/glo');
      font-style: normal;
      font-weight: normal;
  } 
.card {
    border-radius: 8px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 62px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 20%;
    margin: auto;
    padding-bottom: 10em;
    top: 100%;
    transform: translateY(20%);
  }
  
  .container {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
    background-repeat: no-repeat;
    height: 40em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    font-family: opendyslexic, sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
  }
  